
div#staging {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 10px;
  color: white;
  background-color: red;
  font-weight: bold;
  font-family: Helvetica Neue; }


input#openid_url {
  background: url(/images/openid/login-bg.gif) no-repeat;
  background-color: white;
  background-position: 0 50%;
  color: black;
  padding-left: 20px; }


div.pagination {
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: black; }
  div.pagination .disabled {
    color: grey; }
  div.pagination .current {
    font-weight: bold; }
  div.pagination span, div.pagination a {
    margin-left: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px; }
  div.pagination a {
    border: 1px solid #ffffff; }


table {
  width: 93%;
  border-collapse: collapse;
  margin: 0 15px;
  margin-bottom: 1.5em; }
  table.inner {
    width: 100%;
    margin: 0; }
    table.inner tr td {
      text-align: right; }
      table.inner tr td.description {
        text-align: left; }
  table tr.odd {
    background-color: white; }
  table tr.even {
    background-color: #f0f0f0; }
  table tr.download_item {
    border-bottom: 1em solid #f0f0f0; }
  table tr.product_title {
    background-color: #e0e0e0; }
  table tr.asset td {
    text-align: right; }
  table tr th, table tr td {
    text-align: left;
    line-height: 1.5em;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px; }
    table tr th.right, table tr td.right {
      text-align: right;
      padding-right: 10px; }
  table tr th {
    background-color: #ddddff;
    border-bottom: 1px solid #bbbbdd;
    margin-bottom: 3em;
    font-weight: normal; }
    table tr th.title {
      border-bottom: none;
      font-weight: bold; }
  table.small th, table.small td {
    text-align: right; }
  table.small th.first_column, table.small td.first_column {
    text-align: left; }


dl {
  clear: both;
  margin-left: 2em;
  margin-bottom: 1em; }
  dl dt {
    float: left;
    width: 10em; }


#footer .vcard {
  margin-left: 1.3em;
  margin-bottom: 1em; }


body.press blockquote {
  font-size: 1.5em;
  font-style: normal; }


a.asset_icon {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  a.asset_icon:hover {
    background-color: transparent; }


.logged_in_as {
  text-align: center;
  margin-bottom: 1em; }


.sidebar h2 {
  margin-bottom: 0; }

.sidebar_alt {
  margin-right: 1em;
  padding-right: 0.5em;
  text-align: center; }
  .sidebar_alt h2 {
    padding-left: 0; }
  .sidebar_alt ul.products {
    margin-left: 0; }
    .sidebar_alt ul.products span.product_title {
      width: 11.5em;
      text-align: left; }


#flash, .flash {
  padding: 1.125em 1em;
  margin-bottom: 1.125em;
  margin-right: 15px;
  font-family: "Georgia", serif;
  background-color: #ffffdd;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 1.333em;
  line-height: 1.125em; }
