
div.submit {
  padding-bottom: 3em;
  padding-right: 2.5em; }
  div.submit a {
    padding: 0.5em 1em;
    float: left; }

div.submit input {
  float: right; }

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  text-indent: 0;
  clear: left;
  border: 0 solid;
  position: relative; }
  fieldset legend {
    left: 0; }

form {
  padding-left: 15px; }

form h3 {
  clear: both;
  padding: 5px 0px 10px 0px;
  font-size: 14px; }

form input {
  display: block;
  margin-top: 3px; }
  form input radiobutton_1, form input form input#radiobutton_2, form input form input#radiobutton_3, form input form input#radiobutton_4 {
    clear: left;
    float: left;
    padding: 0px;
    margin: 0px 0px 0px 0px; }

form input.check_box {
  clear: both;
  float: left;
  padding: 0px;
  margin: 3px 0px 0px 0px; }

form input.text_field, form textarea {
  width: 310px;
  border: 1px solid #ccc; }

form label {
  display: block;
  width: 310px;
  font-size: 12px;
  line-height: 14px;
  padding: 0px 0px 12px 0px; }
form label.check_box {
  clear: none;
  margin: 0px 0px 0px 25px;
  padding: 0px 0px 15px 0px; }

form label.field-address {
  float: left;
  width: 310px;
  margin: 0px 0px 0px 0px; }

form label.field-address input {
  float: left;
  width: 310px;
  padding: 0px; }

form label.field-first input, form label.field-last input, form label.field-email input, form label.field-city input, form label.field-phone input {
  float: left;
  width: 150px;
  padding: 0px; }

form label.field-first, form label.field-address, form label.field-city, form label.field-email {
  clear: left; }

form label.field-first, form label.field-last, form label.field-city, form label.field-email, form label.field-phone {
  float: left;
  margin: 0px 10px 0px 0px;
  width: 150px; }

form label.field-state {
  float: left;
  margin-right: 10px;
  width: 60px; }
  form label.field-state select {
    width: 60px;
    float: left;
    margin-top: 3px; }

form label.field-zip {
  float: left;
  width: 80px; }

form label.field-zip input {
  float: left;
  width: 80px; }

form label.radioitem {
  clear: none;
  margin: 0px 0px 0px 25px;
  padding: 0px 0px 15px 0px; }

form select {
  float: left;
  display: block; }

form textarea {
  margin-top: 3px; }
  form textarea short {
    height: 50px; }

input.submit {
  margin: 10px 0px; }

legend {
  padding: 5px 0px 10px 0px;
  margin: 0 0 0 0;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: -7px;
  font-size: 1em;
  text-transform: uppercase; }

textarea {
  display: block; }
